@{
    var upcomingEventsList = ViewData["UpcomingEvents"] as List<UpcomingEvent>;
}

<div class="container-fluid px-4">
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Upcoming events list | <a asp-area="Admin" asp-controller="Home" asp-action="CreateUpcomingEvent">Create</a>
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Date</th>
                        <th>Price</th>
                        <th>Duration</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Date</th>
                        <th>Price</th>
                        <th>Duration</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var entry in upcomingEventsList)
                    {
                        <tr>
                            <td>@entry.Id</td>
                            <td>@entry.Name</td>
                            <td>@entry.Category</td>
                            <td>@entry.Date</td>
                            <td>@(entry.Price)$</td>
                            <td>@entry.Duration</td>
                            <td>
                                <a asp-area="Admin" asp-controller="Home" asp-action="EditUpcomingEvent" asp-route-id="@entry.Id">Edit</a>
                                <form asp-area="Admin" asp-controller="Home" asp-action="DeleteUpcomingEvent" asp-route-id="@entry.Id" method="post">
                                    <button type="submit">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
